*{
  padding:0;
  margin:0;
}
#container {
  width: 100vw;
  margin: 0 auto;
  background-image: url('assets/img/wood-591631_640.jpg')
}
#container1 {
  display: flex;
  flex: wrap;
  width: 100vw;
  margin: 0 auto;
  background-image: url('assets/img/wood-591631_640.jpg')
}
.containerDiv {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  padding-bottom: 10px;
}
body {
  background-color: rgba(141, 44, 44, 0.511);
}
header {
    width: 100vw;
    height: 27px;
    background-color: rgba(141, 44, 44, 0.511);
    justify-content: space-evenly;
}
#sidebar {
  width: 12vw;
  height: 500px;
  float: left;
}
#content {
  float: left;
  width: 82.5vw;
  height: 700px;
  justify-content: space-evenly;
}
#footer {
  height: 45px;
  clear: left;
  width: 97vw;
  padding-bottom: 10px;
  display: inline-block;
}
.navItem {
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: inline-block;
  width: 20%;
  align-items: center;
  text-align: center;
  font-size: 24px;
  object-fit: fill;
}
#content div {
  width: 20%;
  height: 25%;
  border: 1px solid darkgray;
  margin: 10px;
  display: inline-block;
  object-fit: fill;
}
#content div img {
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}
#content p {
  background-color: gray;
  border: 1px solid darkgray;
  width: 100%;
  text-align: center;
  object-fit: fill;
}
.box1 {
  display: inline-block;  
  width: 50%;
  text-align: right;
  padding-right: 10px;
}
.box2 {
  display: inline-block;  
  width: 50%;
  text-align: left;
  padding-left: 10px;
}
.box2 input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.box1 p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#sidebar input {
  display: inline-block;
  margin-top: 20px;
}
.navItem img {
  height: 24px;
}


